@import "tailwindcss";

/* :root { */
  /* --background: #ffffff;
  --foreground: #171717; */
/* } */

@theme inline {
  /* Brand */
  --color-primary: #BBB791;
  --color-secondary: #A8C3BC;
  --color-accent: #FFFFC5;

  /* Surfaces */
  --color-foreground: #4A4A3F;
  --color-background: #F1E9D2;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
